<html xmlns:th="https://www.thymeleaf.org">
<div th:insert="fragments/head :: head"></div>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<div class="container">
  <h1 id="xss"></h1>
  <div class="form-inline">
    <a href="dom#Andrew" class="badge badge-success">Andrew</a><br>
    <a href="dom#<img src='x' onError='alert(1)'/>" class="badge badge-danger">error</a><br>
  </div>
</div>

<script>
    let htmlDivElement = document.createElement("div");
    htmlDivElement.innerHTML = 'Hello ' + decodeURIComponent(location.hash.split("#")[1]);
    document.getElementById("xss").appendChild(htmlDivElement);
</script>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
