<html xmlns:th="https://www.thymeleaf.org">
<div th:insert="fragments/head :: head"></div>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<div class="container">
  <h2 class="ui-priority-primary">Add post</h2>

  <form action="#" th:action="@{/add}" th:object="${post}" method="post" class="form">
    <!--        <p>Id: <input hidden type="text" th:field="*{id}"/></p>-->
    <div class="form-group col-md-2">
      <label>Title:</label>
      <input class="form-control" type="text" th:field="*{title}"/>
    </div>
    <div class="form-group col-md-3">
      <label>Text:</label>
      <input class="form-control" id="fname" type="text" name="formField" th:field="*{text}"/>
    </div>
    <label id="insertToFormField" class="badge badge-success">insert</label><br>
    <p><input type="submit" value="Submit"/></p>
    <!--        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>-->
  </form>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
