<html xmlns:th="https://www.thymeleaf.org">
<div th:insert="fragments/head :: head"></div>
<body>
<div th:insert="fragments/navbar :: navbarWithSearch"></div>

<div class="container">

  <label id="insertToSearchField" class="badge badge-success">insert</label><br>
  <h2>Posts contains:
    <div th:utext="${searchField}" class="badge badge-secondary"/>
  </h2>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
      <td th:utext="${post.title}"/>
      <td th:utext="${post.text}"/>
      <td>
        <form action="/delete" method="get">
          <input name="id" th:value="${post.id}" class="form-control" hidden>
          <input type="submit" class="btn btn-danger" value="Delete">
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
